# Python 缓存
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/*.so
**/*.pyc

# VS Code
**/.vscode/
**/*.code-workspace

# 日志和输出
/*.jsonl
/*.log
*.out
*.bak
*.swp

# 结果和中间文件（最外层）
/*.wav
/*.yuv

# 结果文件夹
results_*/
result*/
results_exp/*

# 其他
*.DS_Store

# 每次都会改的文件
/active_model
/BandwidthEstimator.py
/sender_pyinfer_online.json
/receiver_pyinfer_online.json
report.txt

# raw_media
/raw_media/*
/testmedia/output_1920x1080_30fps.yuv

# dataset
*.pickle

# ckpt
/model/new*.pth